<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @empathy_map.user.full_name %>
</p>

<%= link_to 'Edit', edit_empathy_map_path(@empathy_map) %> |
<%= link_to 'Back', empathy_maps_path %>
