<div class="mx-auto text-center">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="margin-bottom-md">Editing empathy map record</h2>

      <%= render 'form', empathy_map_record: @empathy_map_record %>

      <%= link_to 'Show', @empathy_map_record %> |
      <%= link_to 'Back', empathy_map_records_path %>

    </div>
  </div>
</div>
